@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

.button {
    background-color: #2091F9;
    color: white;
    border: none;
    border-radius: 35px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
}


/* *hero section */
.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/assets/images/img1.jpg") center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 88%, 0 70%);

    min-height: 100vh;
    height: 100vh;
    width: 100%;
}

/* @navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    height: 156px;
    width: 1210px;
    margin: auto;
    padding: 0 40px;
}

.nav-left {
    display: flex;
    gap: 21px;
    align-items: center;

    height: 48px;
}

.nav-left a {
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.nav-center {
    justify-self: center;
    width: 186px;
    height: 58px;
}

.nav-right {
    display: flex;
    gap: 24px;
    justify-self: end;
    align-items: center;
    height: 48px;
}

.nav-right img {
    cursor: pointer;
    padding: 4.48px;
}

/* @hero content */
.hero-con {
    width: 1440px;
    height: 885px;
    margin: auto;
}

.hero-content-container {
    width: 819px;
    height: 335px;
    opacity: 1;
    gap: 10px;
    margin: auto;
    padding-top: 80px;
}

.hero-content {
    width: 779px;
    height: 295px;
    opacity: 1;
    gap: 7px;
    padding: 20px;
}

.hero-content h1 {
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    text-align: center;
    width: 685px;
    height: 168px;
    margin: auto;
    padding: 10px;
    color: white;
}

.hero-content p {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    width: 759px;
    height: 80px;
    margin: auto;
    padding: 10px;
    color: white;
}

.bottom-button {
    margin: 40px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 236px;
    height: 52px;
}


