@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

.button {
    background-color: #2091F9;
    color: white;
    border: none;
    border-radius: 35px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
}


/* *hero section */
.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/assets/images/img1.jpg") center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 88%, 0 70%);

    min-height: 100vh;
    height: 100vh;
    width: 100%;
}

/* @navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    height: 156px;
    width: 1210px;
    margin: auto;
    padding: 0 40px;
}

.nav-left {
    display: flex;
    gap: 21px;
    align-items: center;

    height: 48px;
}

.nav-left a {
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.nav-center {
    justify-self: center;
    width: 186px;
    height: 58px;
}

.nav-right {
    display: flex;
    gap: 24px;
    justify-self: end;
    align-items: center;
    height: 48px;
}

.nav-right img {
    cursor: pointer;
    padding: 4.48px;
}

/* @hero content */
.hero-con {
    width: 1440px;
    height: 885px;
    margin: auto;
}

.hero-content-container {
    width: 819px;
    height: 335px;
    opacity: 1;
    gap: 10px;
    margin: auto;
    padding-top: 80px;
}

.hero-content {
    width: 779px;
    height: 295px;
    opacity: 1;
    gap: 7px;
    padding: 20px;
}

.hero-content h1 {
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;
    letter-spacing: 0.2px;
    text-align: center;
    width: 685px;
    height: 168px;
    margin: auto;
    padding: 10px;
    color: white;
}

.hero-content p {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    width: 759px;
    height: 80px;
    margin: auto;
    padding: 10px;
    color: white;
}

.bottom-button {
    margin: 40px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 236px;
    height: 52px;
}

/* *Page 2 */
/* @top content */
.page2-content-top {
    width: 550px;
    height: 182px;
    margin: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.page2-content-top h2 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 10px;
    width: fit-content;
}

.page2-content-top p {
    width: 530px;
    height: 80px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 10px;
}

/* @mid content */
.page2-content-mid {
    display: flex;
    justify-content: center;
    align-items: top;

    margin: 80px auto;
    width: 869px;
    height: 257px;
    opacity: 1;
    gap: 52px;
}

.page2-card {
    width: 255px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.page2-card img {
    width: 45.75;
    height: 45.75;
    opacity: 1;
    top: 7.63px;
    left: 7.63px;
}

.page2-card h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    text-align: center;
    padding: 0 10px;
}

.page2-card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 0 10px;
}

/* @bottom content */
.page2-content-bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1058.19140625px;
    height: 762.30322265625px;
    opacity: 1;
    gap: 59.07px;
    padding-top: 52px;
    padding-bottom: 52px;
    margin: auto;
    overflow: hidden;
}

.page2-content-bottom img {
    width: 1177.3414306640625px;
    height: 658.30322265625px;
    opacity: 1;
    border-radius: 81.48px;
    display: block;
}

.play-btn {
    position: absolute;
    inset: 0;
    margin: auto;

    opacity: 1;
    background-color: transparent;
    border: none;

    display: grid;
    place-items: center;

    cursor: pointer;
}

.play-btn img {
    width: 187.39691162109375px;
    height: 187.39691162109375px;
    opacity: 1;
}



/* *Page 3 */
.page3-content {
    width: 1241.298828125px;
    height: 471.9999694824219px;
    margin: 226px auto;
    padding-top: 43px 0;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.page3-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 530px;
    height: 357px;
    opacity: 1;
    gap: 60px;
}

.p3-c-l-l {
    display: flex;
    flex-direction: column;
    opacity: 1;
    gap: 7px;
}

.p3-c-l-l h3 {
    width: 333px;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
}

.p3-c-l-l p {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.page3-content-left button {
    width: 236px;
    height: 52px;
}


